/* - - - - - - - - بسم الله الرحمن الرحیم - - - - - - - - */
/* - - - - - - - - Start Webfont Yekan - - - - - - - - */
@font-face {
  font-family: "Yekan";
  src: url("fonts/Yekan.eot") /* IE9 Compat Modes */;
  src: url("fonts/Yekan.eot?#iefix") format("embedded-opentype") /* IE6-IE8 */,
    url("fonts/Yekan.woff2") format("woff2") /* Modern Browsers */,
    url("fonts/Yekan.woff") format("woff") /* Modern Browsers */,
    url("fonts/Yekan.otf") format("opentype") /* Open Type Font */,
    url("fonts/Yekan.ttf") format("truetype") /* Safari, Android, iOS */;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
/* - - - - - - - - End Webfont Yekan - - - - - - - - */

/* - - - - - - - - Start Reset style - - - - - - - - */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* - - - - - - - - End Reset style - - - - - - - - */

/* - - - - - - - - Start Root variable - - - - - - - - */
:root {
  --color-navbar: #f8f8f8;
  --color-body: #333333;
  --color-primary: #1b2d4c;
  --color-secondary: #f9eace;
  --color-primary-white: #ffffff;
  --color-primary-black: #000000;
  --font-family-primary: "Yekan";
  --color-font-family: #ffffff;
  --color-bg-primary: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
}
/* html */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: #00000000;
}
/* body */
body {
  line-height: 1.7;
  font-size: 1.4rem;
  color: var(--color-body);
  font-family: var(--font-family-primary);
  background: var(--color-bg-primary);
}
/* button */
button {
  outline: 0;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 8px;
  white-space: nowrap;
  padding: 1rem 2rem;
  font-family: var(--font-family-primary);
}
.contact-us__social-media i {
  margin-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  button {
    font-size: 1.6rem;
  }
}
/* list */
ul {
  list-style: none;
  font-weight: 300;
}
ul li {
  color: var(--color-font-family);
}
/* link */
a {
  text-decoration: none;
}
/* input */
input {
  font-family: var(--font-family-primary);
}
label {
  color: var(--color-font-family);
}
/* - - - - - - - - End Root variable - - - - - - - - */

/* - - - - - - - - Start Heading variable - - - - - - - - */
h1,
h2,
h3 {
  font-weight: 700;
  color: var(--color-font-family);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
p {
  font-weight: 300;
  color: var(--color-font-family);
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
}
/* - - - - - - - - End Heading variable - - - - - - - - */
/* - - - - - - - - Start Container style - - - - - - - - */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.block {
  padding: 0rem 2rem;
}

/* icon title */
.about__title,
.services__title,
.last-blog-post__title,
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title-icon {
  font-size: 2rem;
  margin-left: 1rem;
}
/* - - - - - - - - End Comtainer style - - - - - - - - */

/* - - - - - - - - Start Header component - - - - - - - - */
.main-header {
  z-index: 100;
  font-weight: 300;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border-radius: 10px;
  position: fixed;
  top: 10px;
  left: 20px;
  right: 20px;
}
.navbar {
  height: 50px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo {
  max-width: 60px;
}
.nav__toggler {
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background: #ffffff;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
.nav__expanded .bar-1 {
  transform: rotate(-45deg) translate(-10px, 5px);
}
.nav__expanded .bar-2 {
  transform: translateX(-20px);
  opacity: 0;
}
.nav__expanded .bar-3 {
  transform: rotate(45deg) translate(-5px, -2px);
}
.nav__list {
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
/* click toggler */
.nav__expanded .nav__list {
  opacity: 1;
  padding-top: 10px;
  max-height: 100vh;
  border-radius: 12px;
}
.nav__item {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.nav__list li a {
  display: block;
  color: var(--color-font-family);
  padding-bottom: 1rem;
  transition: all 0.2s linear;
}
.nav__list li a:hover {
  color: var(--color-secondary);
}
.list-usa-flag {
  width: 20px;
  margin-right: 5px;
}
@media screen and (min-width: 1024px) {
  .main-header {
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border-radius: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  .nav__toggler {
    display: none;
  }
  .navbar {
    border: 0;
    margin-top: 1rem;
    padding: 0;
  }
  .nav-logo {
    max-width: 70px;
    margin-right: 1rem;
  }
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0rem;
    margin-bottom: 1rem;
  }
  .nav__item {
    border: none;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-bottom: 0rem;
    transition: all 0s linear;
  }
  .nav__list {
    width: auto;
    font-size: 1.6rem;
    flex-direction: row;
    max-height: 100%;
    opacity: 1;
  }
  .tapsi-nav-logo {
    padding-top: 2rem;
    margin: 0;
  }
  .btn--navbar {
    margin: 0;
    display: block;
    padding: 0rem 5rem;
    padding-top: 0.5rem;
  }
  .btn--navbar a:nth-child(1) {
    color: #ffffff;
  }
}
/* - - - - - - - - End Header component - - - - - - - - */

/* - - - - - - - - Start About component - - - - - - - - */
.about {
  display: grid;
  align-items: center;
  margin-bottom: 5rem;
}
#about-me {
  margin-top: 10rem;
}
.about__image > img {
  height: auto;
  margin: auto;
  max-width: 50%;
  border-radius: 100%;
  margin-bottom: 2rem;
}
.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__image-2 img {
  width: 100%;
  border-radius: 0px;
}
.about__text {
  font-weight: 300;
  text-align: justify;
}
.about__text-link {
  cursor: pointer;
  color: var(--color-primary);
}

/* skills */
.about__skills-bar {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ffffff;
}
.about__skills-bar {
  margin-bottom: 1rem;
}
.about__skills {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}
.about__skills p {
  font-size: 1.8rem;
}
.skills {
  text-align: left;
  font-size: 1.25rem;
  padding-left: 10px;
  color: var(--color-font-family);
}
.html {
  width: 100%;
  animation: html 5s 1s;
  background-color: #e34c26;
}
@keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.css {
  width: 90%;
  animation: css 5s 1s;
  background-color: #264de4;
}
@keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
.github {
  width: 85%;
  animation: github 5s 1s;
  background-color: #171515;
}
@keyframes github {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
.wordpress {
  width: 75%;
  animation: wordpress 5s 1s;
  background-color: #21759b;
}
@keyframes wordpress {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  #about-me {
    margin-top: 0rem;
    margin-bottom: 0;
    height: 100vh;
  }
  .about {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__image > img {
    width: 100%;
    margin-left: 5rem;
  }
  .about__image {
    order: 2;
    margin-left: 5rem;
    margin-bottom: 0;
  }
  .services__image-2 img {
    margin-right: 5rem;
  }
  .about__detail {
    order: 1;
  }
  .about__image-2 {
    order: 1;
  }
  .about__detail-2 {
    order: 2;
  }

  .about__skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* - - - - - - - - End About component - - - - - - - - */

/* - - - - - - - - Start Work samples component - - - - - - - - */
.last-blog-post {
  margin-top: 2rem;
  display: grid;
  gap: 7rem 4rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 7rem;
}
@media screen and (max-width: 300px) {
  .last-blog-post {
    grid-template-columns: repeat(1, 1fr);
  }
}
.last-blog-post__title {
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.blog--post__image {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
  border-radius: 12px;
  vertical-align: baseline;
}
.blog--post__title {
  font-weight: 600;
  margin-bottom: 1rem;
}
.blog--post__description {
  font-weight: 300;
}
/* - - - - - - - - End Work samples component - - - - - - - - */

/* - - - - - - - - Start Contact us component - - - - - - - - */
.social-button {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.social-button button {
  width: 100%;
  color: #ffffff;
  cursor: pointer;
}
.social-button svg {
  width: 20px;
  color: #ffffff;
}
.contact-us__social-media {
  margin-bottom: 5rem;
}
.contact-us__info {
  margin-bottom: 10rem;
}
.contact-us__info p {
  margin-bottom: 1rem;
}
/* - - -  Social media icon - - - */
.button-instagram {
  background: linear-gradient(
    to right,
    rgb(236, 72, 153),
    rgb(239, 68, 68),
    rgb(245, 158, 11)
  );
}
.button-telegram {
  background: #0088cc;
}
.button-twitter {
  background: #00acee;
}
.button-github {
  background: linear-gradient(
    to left bottom,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
}
.button-linkedin {
  background: #0077b5;
}
@media screen and (max-width: 300px) {
  .social-button {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr;
  }
  .social-button {
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* - - - - - - - - End Contact us component - - - - - - - - */
