/*! - - - - - - - - Start Webfont Yekan - - - - - - - - */
@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Light.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Anjoman";
  src: url("../assets/fonts/Anjoman-Heavy.eot") format("eot");
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

/* @font-face {
  font-family: "Ahang";
  src: url("../assets/fonts/Ahang/Ahang-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Ahang";
  src: url("../assets/fonts/Ahang/Ahang-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "Ahang";
  src: url("../assets/fonts/Ahang/Ahang-UltraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
} */

/*! - - - - - - - - End Webfont Yekan - - - - - - - - */

/*! - - - - - - - - Start Reset style - - - - - - - - */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
/*! - - - - - - - - End Reset style - - - - - - - - */

/*! - - - - - - - - Start Root variable - - - - - - - - */
:root {
  --color-navbar: #f8f8f8;
  --color-body: #333333;
  --color-primary: #1b2d4c;
  --color-secondary: #f9eace;
  --color-primary-white: #ffffff;
  --color-primary-black: #000000;
  --font-family-primary: "Anjoman";
  /* --font-family-primary: "Ahang"; */
  --color-font-family: #ffffff;
  --color-bg-primary: #13121c;
  --color-bg-secondary: #ffffff;
}
/* html */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: #00000000;
}
/* body */
body {
  line-height: 1.7;
  font-size: 1.4rem;
  color: var(--color-body);
  font-family: var(--font-family-primary);
  background: var(--color-bg-primary);
}
/* button */
button {
  outline: 0;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 8px;
  white-space: nowrap;
  padding: 1rem 2rem;
  font-family: var(--font-family-primary);
}
.contact-us__social-media i {
  margin-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  button {
    font-size: 1.6rem;
  }
}
/* list */
ul {
  list-style: none;
}
ul li {
  color: var(--color-font-family);
}
/* link */
a {
  text-decoration: none;
  color: var(--color-font-family);
}
/* input */
input {
  font-family: var(--font-family-primary);
}
textarea {
  font-family: var(--font-family-primary);
}
label {
  color: var(--color-font-family);
}
/*! - - - - - - - - End Root variable - - - - - - - - */

/*! - - - - - - - - Start Heading variable - - - - - - - - */
h1,
h2,
h3 {
  font-weight: 900;
  color: var(--color-font-family);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
p {
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--color-font-family);
}
label {
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--color-font-family);
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.6rem;
  }
  label {
    font-size: 1.6rem;
  }
}
/*! - - - - - - - - End Heading variable - - - - - - - - */

/*! - - - - - - - - Start Container style - - - - - - - - */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.block {
  padding: 0rem 2rem;
}

/* icon title */
.about__title,
.services__title,
.last-blog-post__title,
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title-icon {
  width: 30px;
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  .title-icon {
    width: 25px;
    margin-left: 0.5rem;
  }
}
/*! - - - - - - - - End Container style - - - - - - - - */

/*! - - - - - - - - Start Header component - - - - - - - - */
.main-header {
  z-index: 100;
  font-weight: 300;
  box-shadow: #13121c5e 0px 7px 29px 0px;
  background-color: var(--color-bg-primary);
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
}
.navbar {
  height: 50px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo {
  max-width: 60px;
}
.nav__toggler {
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background: #ffffff;
  border-radius: 10px;
}
.nav__expanded .bar-1 {
  transform: rotate(-45deg) translate(-10px, 5px);
}
.nav__expanded .bar-2 {
  transform: translateX(-20px);
  opacity: 0;
}
.nav__expanded .bar-3 {
  transform: rotate(45deg) translate(-5px, -2px);
}
.nav__list {
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
/* click toggler */
.nav__expanded .nav__list {
  opacity: 1;
  padding-top: 10px;
  max-height: 100vh;
  border-radius: 12px;
}
.nav__item {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.nav__list li {
  padding: 5px;
  margin-bottom: 0.5rem;
  display: block;
  cursor: pointer;
  border-radius: 12px;
  color: var(--color-font-family);
  transition: all 0.3s linear;
}
.nav__list li:nth-child(6) {
  font-weight: bold;
  margin-right: 1rem;
}
.nav__list li:hover {
  color: var(--color-bg-primary);
  background: var(--color-secondary);
}
.nav__list li:nth-child(6):hover a {
  color: var(--color-bg-primary);
}

.nav__item-en_flag {
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .nav__toggler {
    display: none;
  }
  .navbar {
    border: 0;
    margin-top: 1rem;
    padding: 0;
  }
  .nav-logo {
    max-width: 70px;
    margin-right: 1rem;
  }
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0rem;
    margin-bottom: 1rem;
  }
  .nav__item {
    border: none;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-bottom: 0rem;
    transition: all 0s linear;
  }
  .nav__list {
    width: auto;
    font-size: 1.6rem;
    flex-direction: row;
    max-height: 100%;
    opacity: 1;
  }
  .nav__list li {
    margin-bottom: 1rem;
  }
  .tapsi-nav-logo {
    padding-top: 2rem;
    margin: 0;
  }
  .btn--navbar {
    margin: 0;
    display: block;
    padding: 0rem 5rem;
    padding-top: 0.5rem;
  }
}

/* - - - - - Start Toggler - - - - - */
#toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  display: none;
}
#toggle::before {
  content: " ";
  position: absolute;
  width: 28px;
  height: 2px;
  background: var(--color-font-family);
  border-radius: 20px;
  transition: all 0.2s linear;
  transform: translateY(-5px);
}
#toggle::after {
  content: " ";
  position: absolute;
  width: 28px;
  height: 2px;
  background: var(--color-font-family);
  border-radius: 20px;
  transition: all 0.2s linear;
  transform: translateY(5px);
}
#toggle.active::before {
  transform: translateY(0px) rotate(-45deg);
}
#toggle.active::after {
  transform: translateY(0px) rotate(45deg);
}
@media screen and (max-width: 1024px) {
  #toggle {
    position: fixed;
    top: 5px;
    left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 12px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1024) {
  #toggle {
    display: none;
  }
}
/* - - - - - End Toggler - - - - - */

/* - - - - - Start Sidebar - - - - - */
#sidebar {
  width: 300px;
  height: 100vh;
  z-index: 99999;
  background: var(--color-secondary);
  transition: all 0.5s ease-in;
  position: fixed;
  top: 0;
  right: -300px;
}
#sidebar.active {
  position: fixed;
  top: 0;
  right: 2;
}
#sidebar ul li {
  width: 100%;
  list-style: none;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
  padding: 10px 40px;
  display: inline-block;
  font-size: 20px;
}
#sidebar li {
  color: var(--color-bg-primary);
}
#sidebar a {
  color: var(--color-bg-primary);
  text-decoration: none;
}
#sidebar ul li:hover {
  color: var(--color-font-family);
  background-color: var(--color-bg-primary);
}
#sidebar ul a:hover {
  color: var(--color-font-family);
  background-color: var(--color-bg-primary);
}

@media screen and (max-width: 1024px) {
  #sidebar {
    width: 70%;
    position: fixed;
    top: 0;
    right: -70%;
  }
  #sidebar.active {
    position: fixed;
    top: 0;
    right: 0;
  }
  #sidebar ul li {
    cursor: pointer;
    margin-top: 20px;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 15px;
  }
}
/* - - - - - - - - End Sidebar - - - - - - - - */

/*! - - - - - - - - End Header component - - - - - - - - */

/*! - - - - - - - - Start particles.js - - - - - - - - */
#particles-js {
  height: 100vh;
  position: absolute;
}
/*! - - - - - - - - End particles.js - - - - - - - - */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  text-align: center;
  transition: 0.3s all linear;
  background: var(--color-bg-primary);
}
.preloader-icon {
  position: relative;
  top: 45%;
  width: 40px;
}

/*! - - - - - - - - Start About component - - - - - - - - */
.about {
  display: grid;
  align-items: center;
  margin-bottom: -3rem;
  margin-top: 8rem;
}
.about__image > img {
  height: auto;
  margin: auto;
  max-width: 60%;
  border-radius: 0px;
  margin-bottom: 2rem;
  animation: Up-and-down-animations 5s linear infinite;
  animation: bg-shape 10s linear infinite;
  transition: all 0.3s linear;
}
@keyframes Up-and-down-animations {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bg-shape {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  33% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  66% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__image-2 img {
  width: 100%;
  animation: 0s;
  transform: rotate(-90deg);
  margin-bottom: 0;
  border-radius: 0px;
  margin-top: -5rem;
}
.about__text {
  text-align: justify;
  margin-bottom: -7rem;
}
.about__text p {
  display: block;
}

.about-social {
  margin-top: 8rem;
}
.about-social img {
  width: 25px;
  margin-left: 1rem;
  transition: 0.3s all linear;
}
.about-social img:hover {
  transform: scale(1.2);
}

.about__text-link {
  cursor: pointer;
  color: var(--color-primary);
}

/* Skills */
#skills {
  margin-bottom: 2rem;
}
.about__skills {
  display: grid;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10rem;
}
.about__skills p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  cursor: pointer;
  border-radius: 50% 50% 60% 40% / 60% 50% 50% 40%;
}

.about__skills-1 {
  background-color: #e34c26;
  box-shadow: #e34c2679 -5px 5px, #e34c264c -10px 10px;
}
.about__skills-1:hover {
  font-weight: 700;
  transform: scaleY(1.5);
  box-shadow: #e34c2679 -0px 5px, #e34c264c -0px 10px;
}

.about__skills-2 {
  background-color: #264de4;
  box-shadow: #264ce47b -5px 5px, #264ce444 -10px 10px;
}
.about__skills-2:hover {
  font-weight: 700;
  transform: scaleY(1.5);
  box-shadow: #264ce47b -0px 5px, #264ce444 -0px 10px;
}

.about__skills-3 {
  background-color: #cc6699;
  box-shadow: #cc66996f -5px 5px, #cc669936 -10px 10px;
}
.about__skills-3:hover {
  font-weight: 700;
  transform: scaleY(1.5);
  box-shadow: #cc66996f -0px 5px, #cc669936 -0px 10px;
}

.about__skills-4 {
  background-color: #f1502f;
  box-shadow: #f14f2f6e -5px 5px, #f14f2f23 -10px 10px;
}
.about__skills-4:hover {
  font-weight: 700;
  transform: scaleY(1.5);
  box-shadow: #f14f2f6e -0px 5px, #f14f2f23 -0px 10px;
}

.about__skills-5 {
  background-color: #21759b;
  box-shadow: #21749b6c -5px 5px, #21749b3c -10px 10px;
}
.about__skills-5:hover {
  font-weight: 700;
  transform: scaleY(1.5);
  box-shadow: #21749b6c -0px 5px, #21749b3c -0px 10px;
}

.about__skills-6 {
  background-color: #333333;
  box-shadow: #33333373 -5px 5px, #33333315 -10px 10px;
}
.about__skills-6:hover {
  font-weight: 700;
  transform: scaleY(1.5);
  box-shadow: #33333363 -0px 5px, #33333320 -0px 10px;
}

.about__skills-7 {
  background-color: #b4b4b4;
  box-shadow: #b4b4b46a -5px 5px, #b4b4b430 -10px 10px;
}
.about__skills-7:hover {
  font-weight: 700;
  transform: scaleY(1.5);
  box-shadow: #b4b4b46a -0px 5px, #b4b4b430 -0px 10px;
}

/* about arrow */
.about-arrow {
  display: none;
}

@media screen and (min-width: 1024px) {
  #about-hero {
    height: 100vh;
    margin-top: 0;
  }
  .about {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0rem;
    margin-bottom: 0;
  }
  .about__image > img {
    width: 100%;
    margin-left: 5rem;
  }
  .about__image {
    order: 2;
    margin-left: 5rem;
  }
  .services__image-2 img {
    animation: Up-and-down-animations 5s linear infinite;
    transition: all 0.3s linear;
  }
  .about__detail {
    order: 1;
  }
  .about__image-2 {
    order: 1;
  }
  .about__detail-2 {
    order: 2;
  }
  .about__skills p {
    width: 100px;
    height: 100px;
  }
  /* about arrow */
  .about-arrow {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
  }
  .about-arrow img {
    width: 30px;
    animation: Up-and-down-animations 3s linear infinite;
  }
}
/*! - - - - - - - - End About component - - - - - - - - */

/*! - - - - - - - - Start Google digital marketing component - - - - - - - - */
.google-digital {
  background: var(--color-secondary);
  position: relative;
}
.google-digital-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin-bottom: 10rem;
  padding-top: 5rem;
}

.google-digital::before {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 2000px;
  background: #2a9d8f;
  /* background-image: linear-gradient(45deg, #1d90ff, #8c9d2a); */
  background-image: linear-gradient(45deg, #1d90ff, #cfee21);
  box-shadow: 0 7px 20px #3e9d7a5e;
  top: -45px;
  left: 64px;
}
.google-digital::after {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: #e76f51;
  background-image: linear-gradient(45deg, #e76f51, #e7da51);
  box-shadow: 0 7px 20px #e76f5150;
  right: -50px;
  bottom: -60px;
}
@media screen and (max-width: 768px) {
  .google-digital::before {
    width: 80px;
    height: 80px;
  }
  .google-digital::after {
    width: 100px;
    height: 100px;
  }
}

.google-digital h2 {
  color: var(--color-bg-primary);
}
.google-digital p {
  color: var(--color-bg-primary);
}
.google-digital button {
  margin-left: 1rem;
  transition: all 0.3s linear;
  background-color: var(--color-primary);
  color: var(--color-font-family);
  position: relative;
  overflow: hidden;
  outline: none;
  z-index: 0;
  transition: all 0.4s linear;
}
.google-digital button:before {
  content: " ";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.google-digital button:hover:after {
  background: transparent;
}
.google-digital button:hover:before {
  opacity: 1;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.google-digital_img {
  width: 70%;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.google-digital_img:hover {
  transform: scale(1.01);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.google-digital_verify {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .google-digital-container {
    border-radius: 0px;
  }
  .google-digital_img {
    width: 100%;
  }
}

/*! - - - - - - - - End Google digital marketing component - - - - - - - - */

/*! - - - - - - - - Start Work samples component - - - - - - - - */
/* card badge */
.badge {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 1rem;
  border-radius: 50px;
  color: var(--color-bg-primary);
  background-color: var(--color-secondary);
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 15px;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.2rem;
  }
}
/* card */
.work--title {
  display: flex;
  justify-content: space-between;
}
.work__title-p {
  border-bottom: 1px solid #fff;
}
.work {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10rem;
}
.work-post {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  transition: all 0.3s linear;
  border: 2px solid #232323;
  background-color: var(--color-bg-primary);
}
.work-post__img {
  position: relative;
}
.work-post__img img {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
}
.work-post__text h3 {
  padding: 1rem 2rem;
}
.work-post__text p {
  height: 150px;
  font-weight: 300;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.work-post__btn {
  margin: 1rem 2rem;
}
.work-post__btn button {
  margin-left: 1rem;
  transition: all 0.3s linear;
  background-color: var(--color-primary);
  color: var(--color-font-family);
  position: relative;
  overflow: hidden;
  transition: all 0.4s linear;
}
.work-post__btn button:hover {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
/* Swiper Slider */
.swiper {
  margin-bottom: 10rem;
}
.swiper .work-post {
  margin: 0rem 2rem;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/*! - - - - - - - - End Work samples component - - - - - - - - */

/*! - - - - - - - - Start open-source component - - - - - - - - */
.open-source {
  margin-bottom: 10rem;
}
.open-source_text {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.open-source_text button {
  background-color: var(--color-primary);
  color: var(--color-font-family);
  position: relative;
  overflow: hidden;
  outline: none;
  z-index: 0;
  transition: all 0.4s linear;
}
.open-source_text button:before {
  content: " ";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.open-source_text button:hover:after {
  background: transparent;
}
.open-source_text button:hover:before {
  opacity: 1;
}

.open-source_text::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  animation: bg-shape 5s linear infinite;
  background: #2a9d8f;
  background-image: linear-gradient(45deg, #1d90ff, #cfee21);
  box-shadow: 0 7px 20px #3e9d7a5e;
  position: absolute;
  top: -10px;
  right: -10px;
}
.open-source_img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
@media screen and (max-width: 1024px) {
  .open-source_text {
    flex-direction: column;
  }
  .open-source_text a {
    margin-bottom: 2rem;
  }
}
/*! - - - - - - - - End open-source component - - - - - - - - */

.intro-video {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='150' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.26.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
}
.intro-video-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.intro-video h2 {
  text-align: center;
}
.intro-video video {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: #7676751f 0px 5px 20px 0px;
}

/*! - - - - - - - - Start Contact form component - - - - - - - - */
.contact-form {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10rem;
}
.contact-form__input {
  display: flex;
  flex-direction: column;
}

.contact-form__text h2 {
  width: max-content;
  position: relative;
}
.contact-form__text p {
  width: 90%;
}
.contact-form__text h2::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  width: 70px;
  height: 70px;
  animation: bg-shape 5s linear infinite;
  background: linear-gradient(to right, rgb(192, 132, 252), rgb(250, 204, 21));
  box-shadow: 0 7px 20px #3e9d7a5e;
  position: absolute;
  right: -10px;
}

.contact-form__input input,
.contact-form__input textarea {
  border: none;
  outline: none;
  color: var(--color-font-family);
  border-radius: 20px;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  transition: 0.3s all linear;
  background: transparent;
  border-bottom: 1px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.contact-form__input textarea {
  border-radius: 12px;
}

.contact-form__input input:focus,
.contact-form__input textarea:focus {
  background-color: rgba(255, 255, 255, 0.187);
}

.contact-form-name-email div {
  display: inline-block;
  margin-left: 1.5rem;
}
.contact-form-name-email input {
  display: flex;
}

.contact-form__input-required-star {
  color: #ff0000;
}

.contact-form__input button {
  width: 100px;
  margin-left: 1rem;
  transition: all 0.3s linear;
  background-color: var(--color-primary);
  color: var(--color-font-family);
  position: relative;
  overflow: hidden;
  animation: formpulse 1.5s linear infinite;
  transition: all 0.4s linear;
}

.contact-form__input button:disabled,
.contact-form__input button[disabled] {
  animation: 0;
  cursor: not-allowed;
  background-color: #b4b4b4;
}

@keyframes formpulse {
  0% {
    box-shadow: var(--color-primary) 0 0 0 0;
  }
  80% {
    box-shadow: #ff280000 0 0 0 10px;
  }
}

/* submission mail.php*/
.submission {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
}
.submission button {
  transition: all 0.3s linear;
  background-color: var(--color-primary);
  color: var(--color-font-family);
  position: relative;
  overflow: hidden;
  animation: formpulse 1.5s linear infinite;
  transition: all 0.3s linear;
}
.submission button:hover {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
}

@media screen and (max-width: 1024px) {
  .contact-form {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-form img {
    width: 100%;
    margin-top: -5rem;
    margin-bottom: -5rem;
  }
  .contact-form__text p {
    width: 100%;
  }

  .contact-form-name-email div {
    width: 100%;
  }
  .contact-form-name-email input {
    width: 100%;
  }
}
/*! - - - - - - - - End Contact form component - - - - - - - - */

/*! - - - - - - - - Start Footer component - - - - - - - - */
footer {
  background: #2a2832;
}
.footer-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.footer__title img {
  width: 30px;
  margin-left: 1rem;
  margin-bottom: -1rem;
}

.footer__p p {
  margin-bottom: 2rem;
}

.footer__menu h3,
.footer__contact h3,
.footer__social h3 {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}
.footer__menu ul li {
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.3s linear;
  border-radius: 12px;
}
.footer-en {
  font-weight: bold;
}
.footer__menu ul li:hover {
  color: var(--color-secondary);
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.social-icon img {
  transition: all 0.5s linear;
}
.social-icon img:hover {
  transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-container {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
  .footer__menu h3,
  .footer__contact h3,
  .footer__social h3 {
    width: max-content;
  }
}
/*! - - - - - - - - End Footer component - - - - - - - - */

/*! - - - - - - - - Start 404 page - - - - - - - - */
.page404 {
  margin-top: 10rem;
  height: calc(100vh - 10rem);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
.page404--text button {
  color: #fff;
  background-color: #19e419;
  animation: pulse 1.5s linear infinite;
  transition: all 0.3s linear;
}
@keyframes pulse {
  0% {
    box-shadow: #19e419 0 0 0 0;
  }
  80% {
    box-shadow: #ff280000 0 0 0 10px;
  }
}
.fundo {
  animation: scales 3s alternate infinite;
  transform-origin: center;
}
.pao-baixo {
  animation: rotatepao 10s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px;
}

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}
@keyframes scales {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotatepao {
  0% {
    transform: rotate(0deg);
  }
  50%,
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes olhos {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks {
  0% {
    opacity: 0;
  }
}

.page-404-main {
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite;
}

@keyframes dash {
  0%,
  30% {
    fill: 4B4B62;
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }
}

@media screen and (max-width: 1024px) {
  .page404 {
    margin-top: 10rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .page-404-main img {
    margin-bottom: 0rem;
  }
}
/*! - - - - - - - - End 404 and 403 page - - - - - - - - */
